@inject ISnackbar Snackbar
@inject IApplicantService ApplicantsConnect
@inject ILogService LogService
@inject NavigationManager Navigation

<EditForm OnValidSubmit="Submit" Model="Model">
    <DataAnnotationsValidator />
    <MudNumericField Max="100" @bind-Value="Model.InterviewReading" For="@(() => Model.InterviewReading)" Label="Reading Comprehension" Variant="Variant.Outlined"></MudNumericField>
    <MudNumericField Max="100" @bind-Value="Model.InterviewCommunication" For="@(() => Model.InterviewCommunication)" Label="Communication/Verbal Ability" Variant="Variant.Outlined"></MudNumericField>
    <MudNumericField Max="100" @bind-Value="Model.InterviewAnalytical" For="@(() => Model.InterviewAnalytical)" Label="Analytical Ability" Variant="Variant.Outlined"></MudNumericField>
   
    <div class="d-flex justify-end mt-3">
        <LoadingButton Loading="loading" Label="Update" Variant="Variant.Filled" />
    </div>

</EditForm>

@code {
    [CascadingParameter]
    MudDialogInstance? Dialog { get; set; }

    [Parameter]
    public EventCallback<Applicant> OnUpdated { get; set; }

    [Parameter]
    public Applicant? Model { get; set; }

    [Parameter]
    public User? User { get; set; }


    bool loading = false;
    string error = "";


    async Task Submit()
    {
        loading = true;
        error = "";

        try
        {
            if (Model != null)
            {
                var model = await ApplicantsConnect.UpdateAsync(Model);

                if (User != null)
                {
                    Log log = new Log
                        {
                            Process = $"Applicant: {Model.PersonalInformation.LastName} {Model.PersonalInformation.FirstName} {Model.PersonalInformation.MiddleName.Substring(0, 1)}. interview result's has been updated by {User.FirstName} {User.LastName}",
                            Date = DateTime.Now,
                            UserId = User.Id
                        };
                    await LogService.CreateAsync(log);
                }
                if (Model.InterviewReading == null && Model.InterviewCommunication == null && model.InterviewAnalytical == null)
                {
                    Model.IsInterviewed = false;
                    await ApplicantsConnect.UpdateAsync(Model);
                }

                Snackbar.Add($"Update Successful", Severity.Success);
                Navigation.NavigateTo($"/applicants/{Model.Id}");
            }


        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
        loading = false;
    }
}
